main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sw-display {
    margin: 1em;
    border: 1px solid black;
    height: 10em;
    width: 6em;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-buttons {
  display: flex;
  justify-content: center;
}
