:root {
  --sw-yellow-text-color: rgb(224, 224, 224);
  /* --sw-yellow-text-color:  */
  --sw-background-for-text: rgba(43, 43, 43, 0.822);
  --sw-border: 1px solid rgba(255, 255, 255, 0.555);
  --sw-border-radius: 0.3em;
  --sw-white-background: rgb(211, 211, 211);
  --transition-elements: all 2s ease-in-out;
}

body {
  background-image: url('./assets/images/background.jpeg');
  color: var(--sw-yellow-text-color);
  font-family: 'DO Futuristic', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.title {
  font-size: 5em;
  color: rgb(243, 209, 16);
  font-family: 'Star Wars', sans-serif;
  position: absolute;
  top: -100px;
  opacity: 0;
  transition: all 4s ease-in-out;
}

.title-slide-in {
  top: 0;
  opacity: 1;
}

button {
  background-color: var(--sw-background-for-text);
  font-family: 'DO Futuristic', sans-serif;
  color: var(--sw-yellow-text-color);
  cursor: pointer;
}
.show-result {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin-top: 10em;
}

.output {
  color: rgb(253, 132, 132);
}
.sw-character,
.sw-planet {
  background-color: var(--sw-background-for-text);
  padding: 2em;
  margin: 0em 5em;
  width: 20em;
  height: min-content;
  text-align: start;
  border: var(--sw-border);
  border-radius: var(--sw-border-radius);
  font-size: larger;
  overflow-x: hidden;
  transition: var(--transition-elements);
}

.sw-character h1,
.sw-planet h1 {
  text-decoration: underline;
  font-size: 1.9em;
  margin: 0.3em 0em;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  margin-top: 7em;
}

.search-bar h2 {
  margin: 0;
  padding: 0.4em;
  background-color: var(--sw-background-for-text);
  border: var(--sw-border);
  border-radius: 0.3em;
}

.search-button {
  font-size: 2em;
  padding: 0.2em;
  margin: 0.5em;
  border: var(--sw-border);
  border-radius: var(--sw-border-radius);
}

.search-field {
  font-size: 30px;
  font-family: 'DO Futuristic', sans-serif;
  padding: 0.2em;
  margin: 0.4em;
  background-color: var(--sw-white-background);
  border-radius: 0.3em;
}

.radio-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
}

.search-radio-person,
.search-radio-planet {
  width: 2em;
  height: 2em;
  margin: 1em;
}

.obi-button {
  align-self: flex-end;
  transform: rotate(-45deg);

  margin-bottom: 4em;
  font-size: 1.5em;
  padding: 0.3em;
  color: aqua;
  background-color: rgba(255, 255, 0, 0);
  border-radius: 0.2em;
  border-top: none;
  border-bottom: 4px solid rgb(214, 42, 42);
  border-left: none;
  border-right: none;
}

.search-result {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 25em;
  height: 18em;
  align-items: center;
  background-color: var(--sw-background-for-text);
  overflow-y: auto;
  border: var(--sw-border);
  border-radius: var(--sw-border-radius);
  transition: var(--transition-elements);
}

.search-result ol {
  list-style-type: none;
}

.search-result-li {
  width: fit-content;
  padding: 0.1em;
  cursor: pointer;
  background-color: rgb(27, 27, 27);
}

.search-result-li:hover {
  text-decoration: underline;
}

.clear-button {
  position: relative;
  align-self: flex-end;
  padding: 0.5em;
  border-radius: var(--sw-border-radius);
  border: var(--sw-border);
}

@media (max-width: 880px) {
  .show-result {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 740px) {
  .title {
    font-size: 40px;
  }
}
